---
import LayoutWithNav from "../layouts/LayoutWithNav.astro";

let counter = 0

if(Astro.cookies.has("counter")){
  let cookie = Astro.cookies.get("counter")
  counter = cookie.number() + 1
}

Astro.cookies.set("counter", counter)

---
<LayoutWithNav>
  <h1>Counter From Cookie: {counter}</h1>
</LayoutWithNav>