---
// Component Imports
import AstroComponent from "../components/AstroComponent.astro";
import Counter from "../components/Counter.jsx";
import CounterVue from "../components/CounterVue.vue";
const someProps = {
	count: 0,
};
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<style>
			html,
			body {
				font-family: system-ui;
				margin: 0;
			}
			body {
				padding: 2rem;
			}
			.client-only {
				background-color: #00ff0022;
			}
			.client-static {
				background-color: #0000ff22;
				padding: 0 20px;
			}
			.client-static-2 {
				background-color: #00ffff22;
				padding: 0 20px;
			}
		</style>
	</head>
	<body>
		<main>
			<div class="client-only">
				<Counter {...someProps} client:only="react">
					<h1>Hello from React! I am interactive!</h1>
				</Counter>
			</div>
			<div class="client-static">
				<Counter {...someProps}>
					<h1>Hello from React! I am static!</h1>
				</Counter>
			</div>
			<div class="client-static-2">
				<AstroComponent />
			</div>
			<div class="client-static">
				<CounterVue client:only="vue">
					<h1>Hello from Vue! I am interactive!</h1>
				</CounterVue>
			</div>
		</main>
	</body>
</html>
