---
import Layout from "./Layout.astro";

export interface Props {
    title: string;
}

const { title } = Astro.props;
---

<Layout title={title}>
    <aside>
        <div class="sticky">
            <h2 class="font-bold">Navigation</h2>
            <ul class="nav">
                <li><a href="/">Index</a></li>
            </ul>

            <h4 class="font-bold mt-4">SSG</h4>
            <ul>
                <li><a href="/ssg/cities">Cities</a></li>
                <li><a href="/ssg/moorast">Moorast</a></li>
                <li><a href="/ssg/stromelsmoor">Stromelsmoor</a></li>
            </ul>

            <h4 class="font-bold mt-4">SSR</h4>
            <ul>
                <li><a href="/ssr/cities">Cities</a></li>
                <li><a href="/ssr/moorast">Moorast</a></li>
                <li><a href="/ssr/stromelsmoor">Stromelsmoor</a></li>
                <li><hr class="h-px my-2 bg-gray-400 border-0"></li>
                <li><a href="/htmx">htmx...</a></li>
                <li><a href="/posts/post-1">Markdown</a></li>
                <li><a href="/remote-markdown">Remote Markdown</a></li>
                <li><hr class="h-px my-2 bg-gray-400 border-0"></li>
                <li><a href="/cookie">🍪 KESKE!</a></li>
            </ul>
        </div>


    </aside>
    <main>
        <slot />
    </main>
</Layout>
<style>
    aside {
        box-sizing: border-box;
        min-width: 250px;
        padding: 0 20px;
        background-color: #ff000022;
    }
    .sticky {
            position: sticky;
            top: 18px;
    }
    main {
        flex: 1 0 0;

        display: flex;
        align-items: stretch;
        align-content: stretch;
        flex-direction: column;
        background-color: #22222211;
    }
    .nav {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .nav .header {
        margin: 15px 0 5px 0;
    }
    .nav a {
        text-decoration: none;
        color: #000;
    }
</style>
